[submodule "packages/x-chip-linux-deb"]
	path = packages/x-chip-linux-deb
	url = https://github.com/anarkiwi/x-chip-linux-deb
[submodule "packages/chip-power"]
	path = packages/chip-power
	url = https://github.com/anarkiwi/chip-power
[submodule "packages/chip-hwtest"]
	path = packages/chip-hwtest
	url = https://github.com/anarkiwi/CHIP-hwtest
[submodule "packages/chip-dt-overlays"]
	path = packages/chip-dt-overlays
	url = https://github.com/anarkiwi/CHIP-dt-overlays
[submodule "packages/pocketchip-configs"]
	path = packages/pocketchip-configs
	url = https://github.com/anarkiwi/pocketchip-configs
[submodule "packages/pocketchip-batt"]
	path = packages/pocketchip-batt
	url = https://github.com/anarkiwi/pocketchip-batt
[submodule "packages/pocketchip-load"]
	path = packages/pocketchip-load
	url = https://github.com/anarkiwi/pocketchip-load
[submodule "packages/pocketchip-onboard"]
	path = packages/pocketchip-onboard
	url = https://github.com/anarkiwi/pocketchip-onboard
[submodule "packages/PocketCHIP-pocket-home"]
	path = packages/PocketCHIP-pocket-home
	url = https://github.com/anarkiwi/PocketCHIP-pocket-home
[submodule "packages/tic80"]
	path = packages/tic80
	url = https://github.com/nesbox/TIC-80
[submodule "packages/chip-configs"]
	path = packages/chip-configs
	url = https://github.com/anarkiwi/chip-configs
[submodule "packages/chip-desktop-configs"]
	path = packages/chip-desktop-configs
	url = https://github.com/anarkiwi/chip-desktop-configs
[submodule "packages/chip-exit"]
	path = packages/chip-exit
	url = https://github.com/anarkiwi/chip-exit
